<p style="color: green"><%= notice %></p>

<% content_for :title, "Responses" %>

<h1>Responses</h1>

<div id="responses">
  <% @responses.each do |response| %>
    <p>
      <%= link_to response.question, response %>
    </p>
  <% end %>
</div>

<%= link_to "New response", new_response_path %>
